/* *****************************
 ?   Search Bar HEAD START     
 * ****************************** */

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 4em auto;
  justify-content: center;
  height: 100%;
  min-height: 48px;
  font-size: 18px;

  &__button {
    background: #000000;
    border-radius: 90px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
    margin: 0px 10px;
    padding: 1.1em;
    width: 100px;
    text-transform: uppercase;
  }

  &__input {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;

    color: #000000;
    padding: 1.2em;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 40px;
    
    &::placeholder {
      color: #000000;
      font-weight: 500;
    }
  }
}

/* *****************************
?   Financial Card HEAD START     
* ****************************** */

.card__section--head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 24px;
  width: 50%;
  min-height: 238px;
  background: #ffffff;
  box-shadow: 0px 2px 12px #00000029;
  border-radius: 24px;
}
