.card {
  /* *****************************
   ?   CARD Top HEAD START     
   * ****************************** */
  &-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em;

    &__company {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;

      &--symbol {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #000000;
      }
      &--name {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #888888;
      }
    }

    &__change {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;

      &--rtprice {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        text-align: right;

        color: #000000;
      }

      &-price {
        display: flex;

        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: right;

        /* PRICE DOWN */

        color: currentColor;

        &--pers {
          padding-left: 5px;
        }
      }
    }
  }

  /* *****************************
   ?   Seprator HEAD START     
   * ****************************** */

  &-seprator {
    border: 1px solid #eeeeee;
    margin: 2em 0;
  }

  /* *****************************
   ?   Card Body  HEAD START     
   * ****************************** */

  &-body {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: space-between;

    &__lft {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0px;
      flex: 1;

      &-stats {
        margin: 8px 0px;
        display: flex;
        justify-content: space-around;
        width: 100%;

        &--name {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0px;
          cursor: pointer;
          border-bottom: 1px solid transparent;
          transition: transform 0.1s linear, border-bottom 0.1s ease;

          &:hover {
            transform: scale(1.1);
            border-bottom: 1px solid black;
          }
        }
        &--value {
          font-family: Work Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          text-align: right;
          margin-left: auto;

          color: #888888;
        }
      }
    }

    &__seprator-abs {
      margin: 2em;
    }

    &__seprator {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #eeeeee;
      padding: 1px;
      height: 100%;
    }

    &__rgt {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0px;
      flex: 1;

      &-stats {
        margin: 8px 0px;
        display: flex;
        justify-content: space-around;
        width: 100%;

        &--name {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0px;
          cursor: pointer;
          border-bottom: 1px solid transparent;
          transition: transform 0.1s linear, border-bottom 0.1s ease;

          &:hover {
            transform: scale(1.1);
            border-bottom: 1px solid black;
          }
        }
        &--value {
          font-family: Work Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          text-align: right;
          margin-left: auto;

          color: #888888;
        }
      }
    }
  }
}

// .card-body__lft-stats--name:hover,
// .card-body__rgt-stats--name:hover{

// }
