/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjalla+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

:root {
  /* ? Main Root Colors */

  --primaryColor: #000d21;
  --secondaryColor: #e1dad1;
  --tersiaryColor: #99782f;
  --themeDarkColor: #0e1015;

  /* Page Background Color */
  --BackColor: var(--primaryColor);
  --modalBackColor: var(--secondaryColor);

  /* Section Colors */
  --headingColor: var(--primaryColor);
  --subHeadingColor: var(--tersiaryColor);
  --contentColor: var(--secondaryColor);

  /* Form Colors */
  --formTextColor: var(--secondaryColor);

  /* button Colors */
  /* Primary Button - BW || SB */
  --PriBtn_BackgroundColor: var(--primaryColor);
  --PriBtn_TextColor: var(--tersiaryColor);
  --PriBtn_BackHoverColor: var(--secondaryColor);

  /* Secondary Button - WB */
  --SecBtn_BackgroundColor: var(--tersiaryColor);
  --SecBtn_TextColor: var(--primaryColor);
  --SecBtn_BackHoverColor: var(--themeDarkColor);

  /* Poper Form Validation */
  --poperColor: var(--secondaryColor);
  --poperTextColor: #c15454e6;

  /* --themeWhite: #0e1015;
  --themeBlack: #dcdcdc; */
  --themeWhite: #e1dad1;
  --themeBlack: #0e1015;

  /* --colorWhite: #000000;
  --colorBlack: #ffffff; */

  --colorWhite: #ffffff;
  --colorBlack: #000000;

  --colorWhite85: #ffffff85;
  --colorBlack85: #00000085;

  --bodyFont: "Barlow", sans-serif;
  --headingFont: "termina", sans-serif;
  --subHeadingFont: "Fjalla One", sans-serif;
  --contentFont: "Roboto", sans-serif;
  /* --contentFont: "Lato", sans-serif; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
