* {
  margin: 0;
  padding: 0;
}
/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjalla+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");

:root {
  /* ? Main Root Colors */

  --primaryColor: #000d21;
  --secondaryColor: #e1dad1;
  --tersiaryColor: #99782f;
  --themeDarkColor: #0e1015;

  /* Page Background Color */
  --BackColor: var(--primaryColor);
  --modalBackColor: var(--secondaryColor);

  /* Section Colors */
  --headingColor: var(--primaryColor);
  --subHeadingColor: var(--tersiaryColor);
  --contentColor: var(--secondaryColor);

  /* Form Colors */
  --formTextColor: var(--secondaryColor);

  /* button Colors */
  /* Primary Button - BW || SB */
  --PriBtn_BackgroundColor: var(--primaryColor);
  --PriBtn_TextColor: var(--tersiaryColor);
  --PriBtn_BackHoverColor: var(--secondaryColor);

  /* Secondary Button - WB */
  --SecBtn_BackgroundColor: var(--tersiaryColor);
  --SecBtn_TextColor: var(--primaryColor);
  --SecBtn_BackHoverColor: var(--themeDarkColor);

  /* Poper Form Validation */
  --poperColor: var(--secondaryColor);
  --poperTextColor: #c15454e6;

  /* --themeWhite: #0e1015;
  --themeBlack: #dcdcdc; */
  --themeWhite: #e1dad1;
  --themeBlack: #0e1015;

  /* --colorWhite: #000000;
  --colorBlack: #ffffff; */

  --colorWhite: #ffffff;
  --colorBlack: #000000;

  --colorWhite85: #ffffff85;
  --colorBlack85: #00000085;

  --bodyFont: "Barlow", sans-serif;
  --headingFont: "termina", sans-serif;
  --subHeadingFont: "Fjalla One", sans-serif;
  --contentFont: "Roboto", sans-serif;
  /* --contentFont: "Lato", sans-serif; */
}

body {
  font-family: var(--contentFont);
  color: var(--colorBlack);
  // background: var(--BackColor);
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden;
  cursor: auto;
}
button {
  cursor: pointer;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: currentColor;
  text-decoration: none;
}

a,
button {
  color: currentColor;
  outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--subHeadingFont);
  color: var(--subHeadingColor);
  font-weight: 500;
  margin-top: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 {
  font-size: 3em;
  text-transform: uppercase;
  line-height: 140.98px;
}
h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
a.underline {
  text-decoration: underline;
}

/* Get In Touch From Css */
input {
  display: block;
  width: 100%;
  padding-right: 0px;
  border: none;
  background: none;
  border-bottom: 2px solid var(--formTextColor);
  color: var(--formTextColor);
  font-size: 16px;
}

label,
::placeholder {
  color: var(--formTextColor);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--subHeadingFont);
}
textarea {
  color: var(--formTextColor);
  width: 100%;
  height: 100px;
  border: none;
  border-bottom: 2px solid var(--formTextColor);
  background: no-repeat;
  font-size: 16px;
  margin-bottom: 0 !important;
}
.ckb {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}
.ckb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: relative;
  display: inline-block;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid var(--formTextColor);
  border-radius: 2px;
  margin-right: 10px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.ckb input:checked ~ .checkmark:after {
  display: block;
}
.ckb .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid var(--formTextColor);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.react-datepicker__day {
  outline: none !important;
}

/* Get In Touch From Css */

/* Todo Can Do Utils  */

/* *::selection{ */
/* color: red !important; */
/* } */

::-webkit-scrollbar {
  width: 0px;
}

/* 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
 */
/* Todo Can Do Utils  */

@media (min-width: 2500px) {
  h1 {
    font-size: 4em;
    line-height: 95.98px;
  }
  p {
    font-size: 32px;
    font-weight: 300;
    line-height: normal;
  }
}
@media (min-width: 1600px) and (max-width: 2500px) {
  h1 {
    font-size: 3em;
    line-height: 95.98px;
  }
}

@media (min-width: 992px) and (max-width: 1600px) {
  h1 {
    font-size: 2em;
    line-height: 95.98px;
  }
}
/* @media (min-width: 768px) and (max-width: 991px) {
  h5 {
    font-size: 20px;
    line-height: 24px;
  }
  h1 {
    font-size: 2em;
    line-height: 95.98px;
  }
} */

@media (max-width: 991px) {
  h5 {
    font-size: 20px;
    line-height: 24px;
  }
  h1 {
    margin-bottom: 0;
    font-size: 2.3em;
    line-height: 3em;
  }
  body {
    font-size: 16px;
    line-height: 33px;
  }
}

/* *****************************
?   Global Icon Styles HEAD START     
 * ****************************** */
