/* *****************************
 ?   Search Bar HEAD START     
 * ****************************** */
.player__search-bar--head {
  margin: 3em 0 0;
}

.player__search-bar--head > input {
  width: 50%;
  padding: 1em;
  margin: auto;
  // color: black;
}

/* *****************************
 ?   Player List HEAD START     
 * ****************************** */

.player__list--head {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  padding: 1em;
}
